# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
#
# This test is meant to verify that our Dockerfile can build successfully when
# changed on the CPU architectures we have made it support being built on.
#
name: Build nfs-ganesha base container

on:
  # Trigger when path deploy/base/Dockerfile is changed or workflow is changed
  push:
    paths:
      - "deploy/base/Dockerfile"
      - ".github/workflows/docker-build.yml"

# environment variables
env:
  GANESHA_VERSION: V4.0.8

jobs:
  nfs-ganesha:
    name: Build nfs-ganesha base container
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    # environment variables to be used in the job

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      # Action reference: https://github.com/docker/setup-qemu-action
      - name: Set up QEMU (for docker buildx)
        uses: docker/setup-qemu-action@v1

      # Action reference: https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      # Action reference: https://github.com/docker/login-action
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
 
      # Action reference: https://github.com/docker/build-push-action
      - name: Build Ganesh container
        uses: docker/build-push-action@v2
        with:
          context: ./deploy/base
          ARGS: --build-arg GANESHA_VERSION=${{ env.GANESHA_VERSION }}
          platforms: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x
          push: true
          # Use the GANESHA_VERSION as the tag
          tags: ghcr.io/${{ github.repository_owner }}/nfs-ganesha:${{ env.GANESHA_VERSION }}

      - name: Build nfs-provisioner container
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./deploy/docker/Dockerfile
          ARGS: --build-arg GANESHA_VERSION=${{ env.GANESHA_VERSION }}
          platforms: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x
          push: true
          # Use the GANESHA_VERSION as the tag
          tags: ghcr.io/${{ github.repository_owner }}/nfs-provisioner:${{ env.GANESHA_VERSION }}

  # nfs-provisioner:
  #   name: Build nfs-provisioner container
  #   # run only if nfs-ganesha job is successful
  #   needs: nfs-ganesha
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read
  #     packages: write
  #   steps:
  #     - name: Checkout sources
  #       uses: actions/checkout@v2

  #     # Action reference: https://github.com/docker/setup-qemu-action
  #     - name: Set up QEMU (for docker buildx)
  #       uses: docker/setup-qemu-action@v1

  #     # Action reference: https://github.com/docker/setup-buildx-action
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v1

  #     # Action reference: https://github.com/docker/login-action
  #     - name: Login to GitHub Container Registry
  #       uses: docker/login-action@v1 
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.repository_owner }}
  #         password: ${{ secrets.GITHUB_TOKEN }}
 
  #     # Action reference: https://github.com/docker/build-push-action
  #     - name: Build container
  #       uses: docker/build-push-action@v2
  #       with:
  #         context: .
  #         file: ./deploy/docker/Dockerfile
  #         platforms: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x
  #         ARGS: --build-arg GANESHA_VERSION=${GANESHA_VERSION}
  #         push: true
  #         # Use GANESHA_VERSION as the image tag
  #         tags: ghcr.io/${{ github.repository_owner }}/nfs-provisioner:${GANESHA_VERSION}
